In [13]:
import json
import pandas as pd
from pprint import pprint

In [14]:
with open('recipes.json') as f:
     recipes = json.load(f)

In [15]:
df = pd.DataFrame(recipes)
df.head()

      id      cuisine                                        ingredients
0  10259        greek  [romaine lettuce, black olives, grape tomatoes...
1  25693  southern_us  [plain flour, ground pepper, salt, tomatoes, g...
2  20130     filipino  [eggs, pepper, salt, mayonaise, cooking oil, g...
3  22213       indian                [water, vegetable oil, wheat, salt]
4  13162       indian  [black pepper, shallots, cornflour, cayenne pe...

In [19]:
# 1. Создаем множество колонок
dummy_columns = set()

for recipe in recipes:
    for ingredient in recipe['ingredients']:
        dummy_columns.add(ingredient)

# 2. Функция проверки
item = None
def find_item(cell):
    return int(item in cell)

# 3.Создаем колонки
for item in dummy_columns:
    df[item] = df['ingredients'].apply(lambda x: find_item(x))

# 4. Заменям колонку ингредиентов на их количество в рецепте
df['ingredients'] = df['ingredients'].apply(lambda x: len(x))

df.head()

,id,cuisine,ingredients,California bay leaves,frozen pastry puff sheets,brown mustard seeds,pepperoni,"water chestnuts, drained and chopped",black bean sauce,edamame,...,taco seasoning,ancho chile pepper,celery salt,napa cabbage,french bread,fresh tarragon,parsnips,butter lettuce,red chili powder,chocolate sauce
0,10259,greek,9,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,25693,southern_us,11,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,20130,filipino,12,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,22213,indian,4,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,13162,indian,20,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0