In [114]:
import pandas as pd
from pprint import pprint
import json

In [107]:
df = pd.read_csv('recipes2.csv')
df.head()

,id,cuisine,ingredients,romaine lettuce,black olives,grape tomatoes,garlic,pepper,purple onion,seasoning,...,string beans,egg roll wraps,steamed rice,penne,Crystal Farms Butter,Crystal Farms Shredded Gouda Cheese,mint,berries,figs,sprinkles
0,10259,greek,9,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
1,25693,southern_us,11,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,20130,filipino,12,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,22213,indian,4,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,13162,indian,20,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [108]:
ids = []
rows = df.iterrows()

for index, row in rows:
    recipe = {}
    recipe['id'] = row['id']

    ids.append(recipe)

In [109]:
ids = []
rows = df.iterrows()

for index, row in rows:
    ids.append(row['id'])

In [110]:
ingredients = []

for column in df.columns:
    if column == 'id' or column == 'cuisine':
        continue
    ingredients.append(column)

In [111]:
def make_list(row):
    current_ingredients = []
    for ingredient in ingredients:
        if row[ingredient] == 1:
            current_ingredients.append(ingredient)
    return current_ingredients

recipes = []

for current_id in ids:
    row = df[df['id']==current_id].iloc[0]
    recipe = {}

    recipe['id'] = current_id
    recipe['cuisine'] = row['cuisine']
    recipe['ingredients'] = make_list(row)
    recipes.append(recipe)

In [116]:
with open('new_recipes.json','w') as write_file:
    json.dump(recipes, write_file)