In [52]:
import pandas as pd
import numpy as np

In [53]:
log = pd.read_csv("log.csv",header=None)
log.columns = ['user_id', 'time', 'bet', 'win']
log = log[log['user_id']!='#error']
log['user_id'] = log['user_id'].apply(lambda x:x.replace('Запись пользователя № -','').strip())
log['time'] = log['time'].apply(lambda x:x.replace('[',''))
log['time'] = pd.to_datetime(log['time'])
log['bet'].fillna(0,inplace=True)
log['win'].fillna(0,inplace=True)
log['net'] = log['win'] - log['bet']
log.head()

    user_id                time  bet  win  net
0  user_919 2019-01-01 14:06:51  0.0  0.0  0.0
1  user_973 2019-01-01 14:51:16  0.0  0.0  0.0
2  user_903 2019-01-01 16:31:16  0.0  0.0  0.0
3  user_954 2019-01-01 17:17:51  0.0  0.0  0.0
4  user_954 2019-01-01 21:31:18  0.0  0.0  0.0

In [54]:
users = pd.read_csv('users.csv',encoding='koi8_r',sep='\t')
users.columns = ['user_id','email','city']
users['user_id'] = users['user_id'].apply(lambda x:x.lower().strip())
users.head()

    user_id                email       city
0  user_943  Accumanst@gmail.com     Ижевск
1  user_908    Advismowr@mail.ru     Ижевск
2  user_962      Anachso@ukr.net  Краснодар
3  user_973     Antecia@inbox.ru      Пермь
4  user_902   Balliaryva@ukr.net        NaN

In [55]:
users_log = pd.merge(log,users,how='inner',on='user_id')
users_log.count()

user_id    975
time       975
bet        975
win        975
net        975
email      967
city       950
dtype: int64

In [74]:
city_bet = users_log.groupby('city')['user_id'].count().sort_values(ascending=False)
city_bet.head()

city
Санкт-Петербург    115
Арзангелтск         96
Ярославль           89
Воронеж             88
Краснодар           86
Name: user_id, dtype: int64

In [ ]:

city_bet = users_log.groupby('city')['win'].sum().sort_values(ascending=False)
city_bet.head()
mean_city_bet = city_bet.mean()
max_city_bet = city_bet.max()
min_city_bet = city_bet.min()
print(mean_city_bet/max_city_bet)
# print(max_city_bet / min_city_bet)