In [250]:
import pandas as pd
import datetime as dt

In [251]:
log = pd.read_csv("log.csv")
log.columns = ['user_id', 'time', 'bet', 'win']
log.dropna(subset=['time'],axis=0,inplace=True)
log['time'] = log['time'].apply(lambda x: x[1:])
log['time'] = pd.to_datetime(log['time'])
log['minute'] = log['time'].dt.minute
log['month'] = log['time'].dt.month
log['day'] = log['time'].dt.day
log['year'] = log['time'].dt.year
log['day_number'] = (log['time'] - dt.datetime(2018,12,31)).dt.days+1
log['week_day_number'] = log['day_number'] % 7

In [252]:
def day_part(datetime):
    if datetime.hour>=0 and datetime.hour<= 5:
        return 'night'
    elif datetime.hour>5 and datetime.hour<=11:
        return 'morning'
    elif datetime.hour>11 and datetime.hour<=17:
        return 'afternoon'
    else:
        return 'evening'

log['day_part'] = log['time'].apply(day_part)

In [253]:
log.head(20)

,user_id,time,bet,win,minute,month,day,year,day_number,week_day_number,day_part
0,Запись пользователя № - user_973,2019-01-01 14:51:16,NaN,NaN,51,1,1,2019,2,2,afternoon
1,Запись пользователя № - user_903,2019-01-01 16:31:16,NaN,NaN,31,1,1,2019,2,2,afternoon
2,Запись пользователя № - user_954,2019-01-01 17:17:51,NaN,NaN,17,1,1,2019,2,2,afternoon
3,Запись пользователя № - user_954,2019-01-01 21:31:18,NaN,NaN,31,1,1,2019,2,2,evening
4,Запись пользователя № - user_917,2019-01-01 23:34:55,156789.0,NaN,34,1,1,2019,2,2,evening
5,Запись пользователя № - user_900,2019-01-01 04:37:25,NaN,NaN,37,1,1,2019,2,2,night
6,Запись пользователя № - user_980,2019-01-01 06:31:23,NaN,NaN,31,1,1,2019,2,2,morning
7,Запись пользователя № - user_906,2019-01-02 10:57:08,NaN,NaN,57,1,2,2019,3,3,morning
8,Запись пользователя № - user_952,2019-01-02 16:55:06,NaN,NaN,55,1,2,2019,3,3,afternoon
9,Запись пользователя № - user_972,2019-01-02 20:47:54,NaN,NaN,47,1,2,2019,3,3,evening
10,Запись пользователя № - user_966,2019-01-02 21:32:20,NaN,NaN,32,1,2,2019,3,3,evening
11,Запись пользователя № - user_964,2019-01-02 21:32:35,NaN,NaN,32,1,2,2019,3,3,evening
12,Запись пользователя № - user_978,2019-01-02 05:25:40,NaN,NaN,25,1,2,2019,3,3,night
13,Запись пользователя № - user_917,2019-01-02 08:57:36,145732.0,1987653.0,57,1,2,2019,3,3,morning
14,Запись пользователя № - user_968,2019-01-02 09:32:24,NaN,NaN,32,1,2,2019,3,3,morning
15,Запись пользователя № - user_974,2019-01-03 10:43:41,NaN,NaN,43,1,3,2019,4,4,morning
16,Запись пользователя № - user_998,2019-01-03 11:29:08,NaN,NaN,29,1,3,2019,4,4,morning
17,Запись пользователя № - user_990,2019-01-03 13:12:46,NaN,NaN,12,1,3,2019,4,4,afternoon
18,Запись пользователя № - user_942,2019-01-03 14:03:21,98753.0,NaN,3,1,3,2019,4,4,afternoon
19,Запись пользователя № - user_929,2019-01-03 17:20:23,NaN,NaN,20,1,3,2019,4,4,afternoon

In [254]:
log['minute'].value_counts()

36    25
31    23
50    22
43    21
14    21
18    21
6     21
12    21
5     21
40    21
29    21
53    21
48    20
2     20
45    20
57    20
58    20
27    19
21    19
56    19
54    18
9     18
20    18
3     18
35    18
34    18
33    18
47    18
10    17
51    17
55    16
25    16
17    16
37    15
15    15
16    15
49    15
30    15
24    15
38    15
28    15
4     14
19    14
7     14
44    14
32    14
1     13
59    13
41    13
23    12
39    12
0     12
13    11
22    11
42    11
46    10
52    10
8      9
26     9
11     6
Name: minute, dtype: int64

In [255]:
log['month'].value_counts()

1    291
3    264
2    259
4    170
Name: month, dtype: int64

In [256]:
log['year'].value_counts()

2019    984
Name: year, dtype: int64

In [257]:
log['week_day_number'].value_counts()

6    152
3    150
2    149
5    135
1    135
4    132
0    131
Name: week_day_number, dtype: int64

In [258]:
log['day_part'].value_counts()

night        265
morning      253
afternoon    239
evening      227
Name: day_part, dtype: int64